# hidden files
.*
!.vscode
!.devcontainer
!.git*
!.editorconfig
!.nojekyll
!.husky
!.commitlintrc.json
!.versionrc.json
!.stylelintrc.json

# bundler cache
_site
/vendor
*-cache/
.jekyll-metadata


# rubygem
.bundle/
.byebug_history
.ruby-gemset
.ruby-version
*.gem
Gemfile.lock

# npm dependencies
node_modules
package-lock.json
